<c-card class="my-2">
  <c-card-header>
    <h5>My IPAM</h5>
  </c-card-header>
</c-card>

<c-card>
  <!-- <c-card-header>Header</c-card-header> -->
  <c-card-body>
    <p cCardText>Quickly and easily design network layouts. Split and join subnets, add notes and color, then
      collaborate with others by sharing a custom link to your design.
      Enter the network you wish to subnet and use the Split/Join buttons on the right to start designing!</p>
    <a cButton href="#/subnet" routerLinkActive="active" target="_blank">Create subnet</a>
  </c-card-body>
</c-card>
<c-row [xs]="1" [sm]="3" [md]="5">
  <c-col *ngFor="let myipam of data$ | async">
    <c-card class="my-2">
      <c-card-body>
        <c-row>
          <c-col>
            <div class="mt-1">
              <label cCardText><strong>{{'Title'}}</strong></label> : <label cCardText>{{myipam.name}}</label>
            </div>
            <div class="mt-1">
              <label cCardText><strong>{{'CIDR'}}</strong></label> : <label cCardText>{{myipam.network_address}}</label>
            </div>
          </c-col>
          <div class="d-flex justify-content-start myipam-actions mt-4">
            <button cTooltip="Edit" size="sm" class="cstm-usr-edit text-white" cButton color="info">
              <a class="text-white" routerLink="/subnet" color="info" routerLinkActive="active" [queryParams]="{subnet_id: myipam._id}" [state]="{myipam}"  target="_blank">
                <svg cIcon name="cilPencil" size="s" title="Edit icon"></svg>
              </a>
            </button>
            <button cTooltip="Delete"  class="text-white" size="sm" cButton color="danger" (click)="delegateRemoval(deleteUserConfModal,myipam)">
              <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
          </div>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-modal #deleteUserConfModal backdrop="static" id="staticBackdropModal">
  <c-modal-header>
    <h5 cModalTitle> {{GLOBAL_STRING_CONSTS.DELETE| titlecase}}</h5>
    <button [cModalToggle]="deleteUserConfModal.id" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>{{GLOBAL_STRING_CONSTS.DELETE_SUBNET_CONFIRMATION | titlecase}}</c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="deleteUserConfModal.id" cButton color="secondary">
      {{GLOBAL_STRING_CONSTS.CANCEL | titlecase}}
    </button>
    <button cButton color="primary" type="button" (click)="removeSubnet(deleteUserConfModal)">{{GLOBAL_STRING_CONSTS.YES |
      titlecase}}</button>
  </c-modal-footer>
</c-modal>
