<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-header>
            <h1>Forgot Password?</h1>
          </c-card-header>
          <c-card-body class="p-4">
            <form cForm #f="ngForm" (ngSubmit)="forgotPassword(f)">
              <p class="text-body-secondary">
                Remember your password?
                <a class="" routerLink="/login">
                  Login here
                </a>
              </p>
              <c-input-group class="mb-3">
                <input
                  ngModel
                  #email="ngModel"
                  cFormControl
                  name="email"
                  email
                  required
                  [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"  [placeholder]="PLACEHOLDER.ENTER_PASSWORD" />
                <div *ngIf="f.submitted && email.errors" class="invalid-feedback">
                  <div *ngIf="email.errors['required']">Email is required</div>
                  <div *ngIf="email.errors['email']">Email must be a valid email address</div>
                </div>
              </c-input-group>
              <div class="container">
                <div class="d-flex">
                  <div class="col-md-6">
                    <button cButton size class="me-md-5 text-white" color="info" routerLink="/login" type="button">
                      Back
                    </button>
                  </div>
                  <div class="col-md-6 text-end">
                    <button type="submit" class="px-4" cButton color="primary" [disabled]="loading">
                      <ng-container *ngIf="!loading;else spinner">Submit</ng-container>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>


<ng-template #spinner>
  <c-spinner aria-hidden="true" size="sm"></c-spinner>
  Loading...
</ng-template>
